
@{
    ViewBag.Title = "Confirmacion";
}


<h3>Solicitud de Afiliación Registrada.</h3>


<div>
    @Html.ActionLink("Regresar a Menú Principal", "Index", "Home", new { area = "" }, new { })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

